.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my css */
li{
  list-style: none;
  border: 2px solid black;
  width: 50%;
  /* height: 30vh; */
  margin: 10px auto;
  background-color: lightgrey;
  font-size: 1.2em;  
  position: relative;
}
.title{
  font-weight: bold;
}

.links{
  /* position:absolute; */
  /* top: 50%; */
  /* margin:50px 0px; */
  /* opacity: 0.8; */
  /* background-color: rgb(161, 161, 161); */
  /* border: 2px solid pink; */
  height: 70%;
  width: 100%;
  font-size: 1rem;
}
@media only screen and (max-width: 500px) {
 li{
  width: 90%;
 }
}